<div class="container-fluid">
	<p id="notice"><%= notice %></p>

	<p>
		<strong>Description:</strong>
		<%= @appointment.description %>
	</p>

	<p>
		<strong>Appointment:</strong>
		<%= @appointment.appointment %>
	</p>
	
</div>

<%#= link_to 'Edit', edit_appointment_path(@appointment) %> 
<%#= link_to 'Back', appointments_path %>
